<!-- Footer -->
<section class="section footer-background">
	<div class="container">
		<div class="footer-links d-flex">
			<ul class="list-group">
				<li class="list-group-item parent">
					<a href="#">Product</a>
				</li>
				<li class="list-group-item">
					<a href="#">SHared Hosting</a>
				</li>
				<li class="list-group-item">
					<a href="#">WordPress Hosting</a>
				</li>
				<li class="list-group-item">
					<a href="#">VPS hosting</a>
				</li>
				<li class="list-group-item">
					<a href="#">Dedicated Hosting</a>
				</li>
				<li class="list-group-item">
					<a href="#">Reseller hosting</a>
				</li>
				<li class="list-group-item">
					<a href="#">Hosting features</a>
			</ul>
			<ul class="list-group">
				<li class="list-group-item parent">
					<a href="#">Programs</a>
				</li>
				<li class="list-group-item">
					<a href="#">WordPress</a>
				</li>
				<li class="list-group-item">
					<a href="#">Affiliates</a>
				</li>
				<li class="list-group-item">
					<a href="#">Marketing Services</a>
				</li>
				<li class="list-group-item">
					<a href="#">WordPress guide</a>
				</li>
				<li class="list-group-item">
					<a href="#">Professional email</a>
				</li>
				<li class="list-group-item">
					<a href="#">Bluetopia</a>
				</li>
				<li class="list-group-item">
					<a href="#">Blueprint</a>
				</li>
				<li class="list-group-item">
					<a href="#">Blue Sky</a>
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item parent">
					<a href="#">Support</a>
				</li>
				<li class="list-group-item">
					<a href="#">Chat</a>
				</li>
				<li class="list-group-item">
					<a href="#">Knowledge base</a>
				</li>
				<li class="list-group-item">
					<a href="#"><b> Do Not Sell My Personal Information</b></a>
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item parent">
					<a href="#">Company</a>
				</li>
				<li class="list-group-item">
					<a routerLink="/about">About</a>
				</li>
				<li class="list-group-item">
					<a routerLink="/contact">Contact</a>
				</li>
				<li class="list-group-item">
					<a routerLink="/trems">Terms of services</a>
				</li>
				<li class="list-group-item">
					<a routerLink="/policy">privacy/policy</a>
				</li>
				<li class="list-group-item">
					<a href="#">Career</a>
				</li>
				<li class="list-group-item">
					<a href="#">Blog</a>
				</li>
				<li class="list-group-item">
					<a href="#">Sitemap</a>
				</li>
			</ul>
		</div>

		<div class="social">
			<div class="logo">
				<a class="navbar-brand" href="#">
					<i class="fas fa-th text-light"></i>
					<span class="text-light pl-2">bluehost</span>
				</a>
			</div>
			<p>© 2002-2020 bluehost inc. all rights reserved.</p>
			<h4>
				<a href="telk:+18884014678" target="_blank">888-401-4678</a>
			</h4>
			<ul class="social-icons">
				<li>
					<a href="#">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fab fa-youtube"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fab fa-linkedin-in"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fab fa-pinterest-p"></i>
					</a>
				</li>

			</ul>
		</div>
	</div>
</section>