/* Faq */
.accordion-item {
	margin-bottom: 2.5rem;
	padding: 1.5rem 1rem;
}
section .outset-card {
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin: 1rem 0 1.5rem;
}
.according-title {
	text-align: left;
	border: none;
	background: transparent;
	position: relative;
	width: 100%;
}
.accordion-head h2 {
	color: #5588d3;
}
/*  */
/* Accordian CSS Style */
.accordion {
	position: relative;
}
.accordion .card {
	border: 0;
	border-radius: 0;
	margin-bottom: 25px;
}
.accordion .card-header {
	background-color: #fff;
	border-bottom: 0;
}
.accordion .card-header button {
	padding: 0;
}
.btn-link:hover,
.btn-link:focus {
	text-decoration: none;
	box-shadow: none;
}
.accordion .card-header button i {
	padding-right: 20px;
}
.card-body {
	padding-left: 55px;
	padding-top: 0;
	line-height: 30px;
}
