<!-- Price Table -->
<section id="price" class="section package bg-light">
	<div class="container">
		<div class="card-deck">
			<div class="card">
				<div class="card-body">
					<h1 class="card-title">Standard</h1>
					<h1 class="card-price">
						$79.99
						<small class="text-muted">/ mo*</small>
					</h1>
					<div>
						Normally
						<s>$119.99</s>
					</div>

					<a class="btn btn-lg btn-success" href="#" role="button">Select</a>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">4 cores @ 2.3 GHz</li>
						<li class="list-group-item">500GB (Mirrored) Storage</li>
						<li class="list-group-item">4 GB RAM</li>
						<li class="list-group-item">5 TB Bandwidth</li>
						<li class="list-group-item">3 IP Addresses</li>
					</ul>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<h5 class="my-0 font-weight-normal">Recommended</h5>
				</div>
				<div class="card-body">
					<h1 class="card-title">Enhanced</h1>
					<h1 class="card-price">
						$99.99
						<small class="text-muted">/ mo*</small>
					</h1>
					<div>
						Normally
						<s>$159.99</s>
					</div>

					<a class="btn btn-lg btn-success" href="#" role="button">Select</a>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">4 cores @ 2.5 GHz</li>
						<li class="list-group-item">1TB (Mirrored) Storage</li>
						<li class="list-group-item">8 GB RAM</li>
						<li class="list-group-item">10 TB Bandwidth</li>
						<li class="list-group-item">4 IP Addresses</li>
					</ul>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h1 class="card-title">Premium</h1>
					<h1 class="card-price">
						$119.99
						<small class="text-muted">/ mo*</small>
					</h1>
					<div>
						Normally
						<s>$209.99</s>
					</div>

					<a class="btn btn-lg btn-success" href="#" role="button"> Select </a>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">4 cores @ 3.3 GHz</li>
						<li class="list-group-item">1TB (Mirrored) Storage</li>
						<li class="list-group-item">16 GB RAM</li>
						<li class="list-group-item">15 TB Bandwidth</li>
						<li class="list-group-item">5 IP Addresses</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>