<!---Head Section -->
<section class="section page-header">
	<div class="container">
		<div class="wrap-text text-light text-center">
			<h1>About Us</h1>
		</div>
	</div>
</section>
<section class="section py-0 about-page">
	<nav class="bg-primary">
		<div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
			<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
				aria-controls="nav-home" aria-selected="true">About Us</a>
			<a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
				aria-controls="nav-profile" aria-selected="false">What We Do</a>
			<a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
				aria-controls="nav-contact" aria-selected="false">History</a>
			<a class="nav-link" id="nav-press-tab" data-toggle="tab" href="#nav-press" role="tab"
				aria-controls="nav-press" aria-selected="false">Press</a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<!-- code here -->
			<div class="container">
				<div class="row">
					<div class="text-block text-center py-5">
						<h2>About Bluehost</h2>
						<p class="text-muted">Bluehost is a leading web hosting solutions company. Since our
							founding in 2003,
							Bluehost has continually innovated new
							ways to deliver on our mission: to empower people to fully harness the web. Based in
							Orem, Utah, we provide
							comprehensive tools to millions of users throughout the world so anyone, novice or
							pro, can get on the web and thrive
							with our web hosting packages.
						</p>
					</div>
				</div>
				<div class="row row-cols-3 px-5 py-5">
					<div class="col">
						<div class="text-left">
							<h3>2003</h3>
							<p class="text-muted">Bluehost hosting services was founded by Matt Heaton and Danny
								Ashworth in Provo,
								Utah.</p>
						</div>
					</div>
					<div class="col">
						<div class="text-left">
							<h3>+2M</h3>
							<p class="text-muted">We power websites all over the world and support thousands
								more every day.</p>
						</div>
					</div>
					<div class="col">
						<div class="text-left">
							<h3>750+</h3>
							<p class="text-muted">Our vast team is dedicated to helping our customers around the
								clock, 24/7 so we can be the best web hosting company to
								our customers at all times.</p>
						</div>
					</div>
				</div>

				<div class="divider"></div>

				<div class="row">
					<div class="col-md-9 py-5 px-5">
						<h3>Committed to WordPress</h3>
						<p class="text-muted">We believe in WordPress and our partnership has allowed us to
							support it for over 10
							years. Our in-house team consists
							of dedicated WordPress experts to provide the best customer support whenever you
							need answers. We even dedicate
							engineers on our development staff to full-time WordPress CORE development. No one
							powers WordPress better or
							understands it more than we do. Bluehost is constantly driven to be the number one
							web solution provider.</p>
						<a class="btn btn-outline-primary bg-lg" href="#">
							Learn More
						</a>
					</div>
					<div class="col-md-3 py-5">
						<div class="media-img">
							<img src="../../assets/images/about-word.jpg" alt="media-img">
						</div>
					</div>

				</div>

				<div class="divider"></div>

				<div class="row">
					<div class="col-md-3 py-5">
						<div class="media-img">
							<img src="../../assets/images/about-source.jpg" alt="media-img">
						</div>
					</div>
					<div class="col-md-9 py-5 text-right px-5">
						<h3>Committed to WordPress</h3>
						<p class="text-muted">We believe in WordPress and our partnership has allowed us to
							support it for over 10
							years. Our in-house team consists
							of dedicated WordPress experts to provide the best customer support whenever you
							need answers. We even dedicate
							engineers on our development staff to full-time WordPress CORE development. No one
							powers WordPress better or
							understands it more than we do. Bluehost is constantly driven to be the number one
							web solution provider.</p>
						<a class="btn btn-outline-primary bg-lg" href="#">
							Learn More
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-md-9 py-5 px-5">
						<h3>Part of a Big Family</h3>
						<p class="text-muted">Since 2010, we’ve been fortunate enough to be part of the
							Endurance International Group’s family of brands. With their
							backing and support we’ve been able to accelerate our mission in every way. Learn
							more about our parent company and how
							we work better together to build incredible websites.</p>
						<a class="btn btn-outline-primary bg-lg" href="#">
							Learn More
						</a>
					</div>
					<div class="col-md-3">
						<div class="media-img">
							<img src="../../assets/images/about-family.jpg" alt="media-img">
						</div>
					</div>

				</div>
			</div>
			<div class="aboutUs-contact border-section">
				<div class="container">
					<div class="row row-cols-3">
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-b.svg" alt="icon">
							<h3>Contact</h3>
							<p class="text-muted">Have questions about getting on the web? We're always standing
								by and ready to
								help.</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-d.svg" alt="icon">
							<h3>Careers</h3>
							<p class="text-muted">See if joining the Bluehost family is right for you. Check out
								available positions today!</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-c.svg" alt="icon">
							<h3>Blog</h3>
							<p class="text-muted">Have questions about getting on the web? We're always standing
								by and ready to
								help.</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<!-- code here -->
			<div class="container">
				<div class="row">
					<div class="text-block text-center py-5">
						<h2>A Better Web for All</h2>
						<p class="text-muted">It's not just about getting people online. It's about creating a
							better, safer web for everyone in the process. We fight
							spammers, block pornography, and invest in countless open source projects to help
							push the internet to its full
							potential. We promote web civility and do all we can to foster a safe place where
							the young and old, novice and pro, can
							fully harness the web to accomplish great things.
						</p>
					</div>
				</div>

				<div class="divider"></div>

				<div class="row">
					<div class="col-md-9 py-5 px-5">
						<h3>Complete Web Solutions</h3>
						<p class="text-muted">Our best-in-class solutions are designed to meet the needs of a
							wide range of customers. All fully-managed, these
							solutions empower novice users with tools that are simple to use, and help pro users
							save time and energy normally
							associated with maintenance. Whether on a traditional hosting or cloud-based server,
							all incorporate the ability to
							upgrade so customers can easily scale as they grow.</p>
						<a class="btn btn-outline-primary bg-lg" href="#">
							Learn More
						</a>
					</div>
					<div class="col-md-3 py-5">
						<div class="media-img">
							<img src="../../assets/images/about-t2-a.jpg" alt="media-img">
						</div>
					</div>
				</div>

				<div class="divider"></div>

				<div class="row">
					<div class="col-md-3 py-5">
						<div class="media-img">
							<img src="../../assets/images/about-t2-b.jpg" alt="media-img">
						</div>
					</div>
					<div class="col-md-9 py-5 text-right px-5">
						<h3>Extensive Tools</h3>
						<p class="text-muted">Integrated into every Bluehost account, a suite of add-on products
							and resources enhance our customers' ability to build
							an online presence as unique as they are. These tools provide added security, power,
							speed, and functionality and are
							offered a-la-carte as well as in bundles and packages.</p>
						<a class="btn btn-outline-primary bg-lg" href="#">
							Learn More
						</a>
					</div>
				</div>

				<div class="divider"></div>

				<div class="row">
					<div class="col-md-9 py-5 px-5">
						<h3>Expert Support</h3>
						<p class="text-muted">No one knows the web better. We understand not only how it works,
							but more importantly how it can be used as a tool to
							bring our customer’s online vision to life. Our in-house experts are available 24/7
							to answer any and all questions so
							anyone can safely shoot for the moon.</p>
						<a class="btn btn-outline-primary bg-lg" href="#">
							Learn More
						</a>
					</div>
					<div class="col-md-3">
						<div class="media-img">
							<img src="../../assets/images/about-t2-c.jpg" alt="media-img">
						</div>
					</div>

				</div>
			</div>
			<div class="aboutUs-contact border-section">
				<div class="container">
					<div class="row row-cols-3">
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-b.svg" alt="icon">
							<h3>Contact</h3>
							<p class="text-muted">Have questions about getting on the web? We're always standing
								by and ready to
								help.</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-d.svg" alt="icon">
							<h3>Careers</h3>
							<p class="text-muted">See if joining the Bluehost family is right for you. Check out
								available positions today!</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-c.svg" alt="icon">
							<h3>Blog</h3>
							<p class="text-muted">Have questions about getting on the web? We're always standing
								by and ready to
								help.</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
			<!-- code here -->
			<div class="container">
				<div class="row">
					<div class="text-block text-center py-5">
						<h2>Our History</h2>
						<p class="text-muted">Bluehost was founded in 2003 with one goal in mind: to create a
							better hosting company. Our founders aimed to deliver
							comprehensive web solutions by crafting a custom platform that paired advanced
							features with a simple, no-nonsense
							experience. Since then, Bluehost's dedication to quality has earned the respect of
							customers and partners all over the
							world.
						</p>
					</div>
				</div>

				<div class="row row-cols-4 text-center my-5">
					<div class="col">
						<img src="../../assets/images/abour-h1.jpg" alt="history-icon">
						<h3>Dec 2003</h3>
						<p class="text-muted">
							Bluehost is founded by Matt Heaton and Danny Ashworth.
						</p>
					</div>
					<div class="col">
						<img src="../../assets/images/abour-h2.jpg" alt="history-icon">
						<h3>Aug 2007</h3>
						<p class="text-muted">
							Over 500,000 domains registered on Bluehost.com
						</p>
					</div>
					<div class="col">
						<img src="../../assets/images/abour-h3.jpg" alt="history-icon">
						<h3>June 2008</h3>
						<p class="text-muted">
							One million domains registered on Bluehost.com
						</p>
					</div>
					<div class="col">
						<img src="../../assets/images/abour-h4.jpg" alt="history-icon">
						<h3>Nov 2010</h3>
						<p class="text-muted">
							Bluehost acquired by Endurance International Group (EIG).
						</p>
					</div>
					<div class="col">
						<img src="../../assets/images/abour-h5.jpg" alt="history-icon">
						<h3>April 2013</h3>
						<p class="text-muted">
							Launch of VPS and Dedicated hosting solutions.
						</p>
					</div>
					<div class="col">
						<img src="../../assets/images/abour-h6.jpg" alt="history-icon">
						<h3>Oct 2013</h3>
						<p class="text-muted">
							Endurance International Group goes public.
						</p>
					</div>
					<div class="col">
						<img src="../../assets/images/abour-h7.jpg" alt="history-icon">
						<h3>May 2014</h3>
						<p class="text-muted">
							Optimized Hosting for WordPress released.
						</p>
					</div>
					<div class="col">
						<img src="../../assets/images/abour-h8.jpg" alt="history-icon">
						<h3>July 2015</h3>
						<p class="text-muted">
							Cloudsites released.
						</p>
					</div>
				</div>
			</div>
			<div class="aboutUs-contact border-section">
				<div class="container">
					<div class="row row-cols-3">
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-b.svg" alt="icon">
							<h3>Contact</h3>
							<p class="text-muted">Have questions about getting on the web? We're always standing
								by and ready to
								help.</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-d.svg" alt="icon">
							<h3>Careers</h3>
							<p class="text-muted">See if joining the Bluehost family is right for you. Check out
								available positions today!</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-c.svg" alt="icon">
							<h3>Blog</h3>
							<p class="text-muted">Have questions about getting on the web? We're always standing
								by and ready to
								help.</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-press" role="tabpanel" aria-labelledby="nav-press-tab">
			<!-- code here -->
			<div class="container">
				<div class="row row-col-2 py-5">
					<div class="col">
						<div class="press">
							<h4>Contact Information</h4>
							<img src="../../assets/images/about-press-a.svg" alt="press-img">
							<p>
								<span>Eamil:</span>
								<a href="#">press@bluehost.com</a>
								<br>
								<span>Phone:</span>
								<a href="#">781.482.5809</a>
							</p>
							<a class="btn btn-success" href="#">
								Contact Us
							</a>
						</div>
					</div>
					<div class="col">
						<div class="press">
							<h4>Media Kit</h4>
							<img src="../../assets/images/about-press-a.svg" alt="press-img">
							<p class="text-muted">
								Download the Bluehost logo
								in PNG format
							</p>
							<a class="btn btn-success" href="#">
								Download
							</a>
						</div>
					</div>
				</div>

			</div>
			<div class="press-releases py-5">
				<div class="container">
					<h1>Press Releases</h1>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
					<div class="card my-2">
						<div class="card-body d-flex flex-row">
							<div class="press-date">
								<small>NOV 21</small>
								<br>
								2019
							</div>
							<div class="press-link">
								<a href="#">Bluehost Marketplace Seamlessly Integrates WordPress Themes and
									Plugins into Platform</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="aboutUs-contact border-section">
				<div class="container">
					<div class="row row-cols-3">
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-b.svg" alt="icon">
							<h3>Contact</h3>
							<p class="text-muted">Have questions about getting on the web? We're always standing
								by and ready to
								help.</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-d.svg" alt="icon">
							<h3>Careers</h3>
							<p class="text-muted">See if joining the Bluehost family is right for you. Check out
								available positions today!</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
						<div class="col">
							<img class="float-left" src="../../assets/images/about-contect-c.svg" alt="icon">
							<h3>Blog</h3>
							<p class="text-muted">Have questions about getting on the web? We're always standing
								by and ready to
								help.</p>
							<a class="btn btn-outline-primary bg-lg" href="#">
								Learn More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>