<!-- Support -->
<section class="section background">
	<div class="container">
		<div class="wrap-text text-light">
			<h2>Dedicated Support</h2>
			<p>All dedicated serve customers have access to our elite <br>
				teams of dedicated serve support specialists.This <br>
				exclusive support line is available to you 24/7.
			</p>
			<div class="contact-links">
				<ul>
					<li>
						<a href="#">
							<i class="fas fa-phone-alt"></i>
							855-738-8839
						</a>
					</li>
					<li>
						<a href="#">
							<i class="far fa-comment"></i>
							Chat
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>