<!-- Contact Header -->
<section class="section contact-background">
	<div class="container">
		<div class="wrap-text text-light">
			<h1>Get in Touch</h1>
			<h4>We're always standing by and eager to help.</h4>
			<h4>+1 801-765-9400</h4>
		</div>
		<div class="d-flex justify-content-start my-4">
			<a href="#" class="btn btn-outline-light btn-lg">Call Now</a>
			<a href="#" class="btn btn-outline-light btn-lg ml-4">Chat Now</a>
		</div>
	</div>
</section>

<!-- Media -->

<section class="section ">
	<div class="container mediaBackground-a">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-unstyled mediaLink">
					<li>
						<h5 class="mt-0 mb-1">Press & Media</h5>
						For questions or inquiries regarding our affiliate program, please email
						<a href="#">press@bluehost.com.</a>
					</li>
					<li>
						<h5 class="mt-0 mb-1">Affiliate Program</h5>
						For questions or inquiries regarding our affiliate program, please email <br>
						<a href="#">affiliates@bluehost.com.</a>
					</li>
					<li>
						<h5 class="mt-0 mb-1">Legal</h5>
						For legal inquiries, please first review our terms of service and privacy notice.
						For all
						other legal questions or concerns, please email
						<br>
						<a href="#">legal@bluehost.com. </a>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="img-responsive">
					<!-- <img src="images/walking-with-phone-1089.png" alt=""> -->
				</div>
			</div>
		</div>

	</div>
</section>
<section class="section ">
	<div class="container mediaBackground-b">
		<div class="row">
			<div class="col-md-6">
				<div class="img-responsive">
					<!-- <img src="images/walking-with-phone-1089.png" alt=""> -->
				</div>
			</div>
			<div class="col-md-6">
				<ul class="list-unstyled mediaLink">
					<li>
						<h1>Company Address</h1>
						<h5 class="mt-0 mb-1">Bluehost - Endurance International Group</h5>
						<address>
							10 Corporate Drive <br>
							Suite #300 <br>
							Burlington, MA 01803
						</address>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="mainPhone-bg">
	<div class="container">
		<div>
			<h1>Main Phone Number</h1>
			<p>U.S.(toll-free)888-401-4678</p>
			<p>International +1 801-765-9400</p>
			<small>International calling fees may appy</small>
		</div>
	</div>
</section>
<section class="section ">
	<div class="container mediaBackground-c">
		<div class="row">
			<div class="col-md-6">
				<div class="img-responsive">
					<!-- <img src="images/walking-with-phone-1089.png" alt=""> -->
				</div>
			</div>
			<div class="col-md-6">
				<ul class="list-unstyled mediaLink text-right">
					<li>
						<h1>Connect With Us</h1>
						<ul class="social-icons-contact">
							<li>
								<a href="#">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-youtube"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-pinterest-p"></i>
								</a>
							</li>

						</ul>

					</li>
				</ul>
			</div>
		</div>
	</div>
</section>