<!-- Features
<section id="feature" class="section bg-light pt-5">
	<nav>
		<div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
			<a class="nav-link active" id="nav-features-tab" data-toggle="tab" href="#nav-features" role="tab"
				aria-controls="nav-features" aria-selected="true">Features</a>
			<a class="nav-link" id="nav-adv-features-tab" data-toggle="tab" href="#nav-adv-features" role="tab"
				aria-controls="nav-adv-features" aria-selected="false">Advance Features</a>
			<a class="nav-link" id="nav-opt-features-tab" data-toggle="tab" href="#nav-opt-features" role="tab"
				aria-controls="nav-opt-features" aria-selected="false">Optional Features</a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-features" role="tabpanel" aria-labelledby="nav-features-tab">
			<div class="container text-center">
				<h1 class="my-3">Tuned for Optimum Performance</h1>
				<p class="lead">New functionality brings maximum power to everyone.</p>

				<div class="d-flex"></div>

				<div class="d-flex justify-content-center my-4">
					<a href="#" class="btn btn-outline-primary btn-lg">More Features</a>
					<a href="#" class="btn btn-success btn-lg ml-4">Choose a Plan</a>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-adv-features" role="tabpanel" aria-labelledby="nav-adv-features-tab">
			<div class="container text-center">
				<h1 class="my-3">Powerful, Flexible Hosting</h1>
				<p class="lead">
					Our dedicated solution is powered by an industry-leading, robust
					platform.
				</p>

				<div class="d-flex"></div>

				<div class="d-flex justify-content-center my-4">
					<a href="#" class="btn btn-outline-primary btn-lg">More Features</a>
					<a href="#" class="btn btn-success btn-lg ml-4">Choose a Plan</a>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-opt-features" role="tabpanel" aria-labelledby="nav-opt-features-tab">
			<div class="container text-center">
				<h1 class="my-3">Optional Add-Ons</h1>
				<p class="lead">
					Enhance your account with marketing, security, email upgrades, and
					more.
				</p>

				<div class="d-flex"></div>

				<div class="d-flex justify-content-center my-4">
					<a href="#" class="btn btn-success btn-lg">Choose a Plan</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container"></div>
</section> -->
<!-- Features -->
<section class="section bg-light pt-5">
	<nav>
		<div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
			<a class="nav-link active" id="nav-features-tab" data-toggle="tab" href="#nav-features" role="tab"
				aria-controls="nav-features" aria-selected="true">Features</a>
			<a class="nav-link" id="nav-adv-features-tab" data-toggle="tab" href="#nav-adv-features" role="tab"
				aria-controls="nav-adv-features" aria-selected="false">Advance Features</a>
			<a class="nav-link" id="nav-opt-features-tab" data-toggle="tab" href="#nav-opt-features" role="tab"
				aria-controls="nav-opt-features" aria-selected="false">Optional Features</a>
		</div>
	</nav>

	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-features" role="tabpanel" aria-labelledby="nav-features-tab">
			<div class="container text-center">
				<h1 class="mt-5">Tuned for Optimum Performance</h1>
				<p class="lead">New functionality brings maximum power to everyone.</p>
				<div class="row">
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#" class="mb-5">
								<i class="far fa-calendar-alt"></i>
								<span>Free Domain Name for 1st Year</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#">
								<i class="far fa-calendar-alt"></i>
								<span>Free SSL Certificate</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#">
								<i class="far fa-thumbs-up"></i>
								<span>30-Days Money-Back Guarantee</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center my-4">
					<a href="#" class="btn btn-outline-primary btn-lg">More Features</a>
					<a href="#" class="btn btn-success btn-lg ml-4">Choose a Plan</a>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-adv-features" role="tabpanel" aria-labelledby="nav-adv-features-tab">
			<div class="container text-center">
				<h1 class="mt-5">Powerful, Flexible Hosting</h1>
				<p class="lead">Our dedicated solution is powered by an industry-leading, robust platform.
				</p>
				<div class="row">
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#" class="mb-5">
								<i class="far fa-calendar-alt"></i>
								<span>Free Domain Name for 1st Year</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#">
								<i class="far fa-calendar-alt"></i>
								<span>Free SSL Certificate</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#">
								<i class="far fa-thumbs-up"></i>
								<span>30-Days Money-Back Guarantee</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center my-4">
					<a href="#" class="btn btn-outline-primary btn-lg">More Features</a>
					<a href="#" class="btn btn-success btn-lg ml-4">Choose a Plan</a>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-opt-features" role="tabpanel" aria-labelledby="nav-opt-features-tab">
			<div class="container text-center">
				<h1 class="mt-5">Optional Add-Ons</h1>
				<p class="lead">Enhance your account with marketing, security, email upgrades, and more.</p>
				<div class="row">
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#" class="mb-5">
								<i class="far fa-calendar-alt"></i>
								<span>Free Domain Name for 1st Year</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#">
								<i class="far fa-calendar-alt"></i>
								<span>Free SSL Certificate</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="domain-item">
							<a href="#">
								<i class="far fa-thumbs-up"></i>
								<span>30-Days Money-Back Guarantee</span>
							</a>
							<br>
							<p>
								Enjoy a free domain of your choosing for one year upon the creation of your
								WordPress Hosting account.
							</p>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center my-4">
					<a href="#" class="btn btn-outline-primary btn-lg">More Features</a>
					<a href="#" class="btn btn-success btn-lg ml-4">Choose a Plan</a>
				</div>
			</div>
		</div>
	</div>
</section>