	<!-- Hedaer -->
	<section class="section terms-heading">
		<div class="container text-center">
			<h1>Bluehost Terms of Service</h1>
		</div>
	</section>

	<!-- Links -->
	<section class="section link-background">
		<div class="container text-center">
			<h2>Quick Links</h2>
			<div class="links-deatils d-flex justify-content-center">
				<ul class="list-group">
					<li class="list-group-item">
						<a href="#">User Agreement</a>
					</li>
					<li class="list-group-item">
						<a href="#">Acceptable Use Policy</a>
					</li>
					<li class="list-group-item">
						<a href="#">Domain Registration Agreement</a>
					</li>
					<li class="list-group-item">
						<a href="#">Anti-Spam Policy</a>
					</li>
					<li class="list-group-item">
						<a href="#">User Generated Content Terms</a>
					</li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item">
						<a href="#">Privacy Policy</a>
					</li>
					<li class="list-group-item">
						<a href="#">Domain Name Dispute Policy</a>
					</li>
					<li class="list-group-item">
						<a href="#">Data Request Policy</a>
					</li>
					<li class="list-group-item">
						<a href="#">Copyright Claims Policy</a>
					</li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item">
						<a href="#">Ownership Dispute/Change Policy</a>
					</li>
					<li class="list-group-item">
						<a href="#">Professional Services Agreements</a>
					</li>
					<li class="list-group-item">
						<a href="#">Affiliate Agreement</a>
					</li>
					<li class="list-group-item">
						<a href="#">Microsoft Customer Agreement</a>
					</li>
				</ul>


			</div>
		</div>
	</section>

	<!-- Polices -->
	<section class="section">
		<div class="container">
			<div class="Polices-list">
				<h3><a href="#">User Agreement</a>
				</h3>
				<p>All Customers of Bluehost's basic services are subject to the terms and conditions contained in the
					User Agreement. The User Agreement is a legal contract between Bluehost and the User that contains
					the rights, duties and obligations of Bluehost and the User.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Acceptable Use Policy</a>
				</h3>
				<p>Bluehost's Usage Policy is designed to protect Bluehost, its Users and others from illegal,
					malicious, damaging and inappropriate behavior by Users of Bluehost's services. All users of
					Bluehost's services are subject to the Usage Policy. The Usage Policy lists activities that are
					prohibited on Bluehost's services, such as hacking and spamming.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Domain Registration Agreement</a>
				</h3>
				<p>Customers of Bluehost wishing to register, transfer or renew a domain name must agree to the Domain
					Registration Agreement.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Anti-Spam Policy</a>
				</h3>
				<p>In our ongoing commitment to providing superior service for our customers, Bluehost has introduced a
					new, more vigilant anti-spam policy. We have implemented the following policy as a part of our
					commitment to reducing spam related activity.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Privacy Policy</a>
				</h3>
				<p>Bluehost's Privacy Policy covers treatment of information that Bluehost may collect from users of its
					products and services and from visitors to the Bluehost site.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Domain Name Dispute Policy</a>
				</h3>
				<p>The Domain Name Dispute Policy covers Bluehost's involvement in disputes relating specifically to
					domain name registrations..</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Data Request Policy</a>
				</h3>
				<p>The Data Request Policy covers Bluehost's handling of formal legal requests for the release of
					account information.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Copyright Claims Policy</a>
				</h3>
				<p>Bluehost's Copyright Claims Policy provides information for parties wishing to notify us of claimed
					intellectual property infringements present on sites hosted on our servers.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Microsoft Customer Agreement</a>
				</h3>
				<p>This page provides links to the additional terms and conditions that apply to your use of the
					Microsoft Products.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">User Generated Content Terms</a>
				</h3>
				<p>Bluehost's User Generated Content Terms describes the terms and conditions under which Bluehost may
					use content created and publicly posted by users to social media.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Ownership Dispute/Change Policy</a>
				</h3>
				<p>The Ownership Changes and Dispute policy covers the customers responsibility for any changes to the
					ownership of a hosting account.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Professional Services Agreements</a>
				</h3>
				<p>Bluehost offers certain Professional Services in addition to the basic hosting service. Customers
					purchasing any Professional Services must read and agree to the terms and conditions set forth in
					this section for each Professional Service they purchase.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Affiliate Terms & Conditions</a>
				</h3>
				<p>All Parties wishing to join Bluehost's Affiliate program must read and agree to the Afiiliate Terms &
					Conditions.</p>
			</div>
			<div class="Polices-list">
				<h3><a href="#">Report Spam & Abuse</a>
				</h3>
				<p>Please send reports of spam and abuse to <a href="#">tos@bluehost.com</a>. In the case of spam,
					please include the full message being reported as spam including all mail headers. <a href="#">Click
						here for more information on displaying mail headers</a>.</p>
			</div>
		</div>
	</section>

	<!-- disclaimers-->
	<section class="section disclaimers bg-light py-2">
		<div class="container">
			<p>* The promotional price is for the first term only and renews at the
				<a href="#" target="_blank">regular rate.</a>
			</p>
			<p><a href="#" target="_blank">* 30-Day Money-Back Guarantee</a>
				does not extend to domain names.</p>
		</div>
	</section>
